<div class="contenedor_padre">
    <div class="container">
        <div class="card" id="card1" data-tilt data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1" >
            <div class="content" >
                <h2>01</h2>
                <h3>Movil 1</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis porro officia enim, mollitia perferendis praesentium similique dignissimos omnis voluptate. Explicabo voluptas consectetur voluptatibus esse aliquam laudantium earum, beatae vero!</p>

                <a href="#">Read More</a>

            </div>
        </div>
        <div class="card" id="card2"  data-tilt data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1">
            <div class="content">
                <h2>02</h2>
                <h3>Movil 2</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis porro officia enim, mollitia perferendis praesentium similique dignissimos omnis voluptate. Explicabo voluptas consectetur voluptatibus esse aliquam laudantium earum, beatae vero!</p>

                <a href="#">Read More</a>

            </div>
        </div>
        <div class="card" id="card3"  data-tilt data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1">
            <div class="content">
                <h2>03</h2>
                <h3>Movil 3</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis porro officia enim, mollitia perferendis praesentium similique dignissimos omnis voluptate. Explicabo voluptas consectetur voluptatibus esse aliquam laudantium earum, beatae vero!</p>

                <a href="#">Read More</a>

            </div>
        </div>
        
    </div>
</div>

