<!--
<div class="contenedor_padre">
    <div class="container">

        <div class="card" id="card1" data-tilt data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1" >
            <img id="img_movil" src="./assets/movil/movil1.PNG" alt="">
            <div class="content" >
                
                <h2>01</h2>
                <h3>Movil 1</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis porro officia enim, mollitia perferendis praesentium similique dignissimos omnis voluptate. Explicabo voluptas consectetur voluptatibus esse aliquam laudantium earum, beatae vero!</p>

                <a href="#">Read More</a>

            </div>
        </div>

        <div class="card" id="card2"  data-tilt data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1">
            <img id="img_movil" src="./assets/movil/movil2.png" alt="">
            <div class="content">
                <h2>02</h2>
                <h3>Movil 2</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis porro officia enim, mollitia perferendis praesentium similique dignissimos omnis voluptate. Explicabo voluptas consectetur voluptatibus esse aliquam laudantium earum, beatae vero!</p>

                <a href="#">Read More</a>

            </div>
        </div>
        <div class="card" id="card3"  data-tilt data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1">
            <img id="img_movil" src="./assets/movil/movil3.png" alt="">
            <div class="content">
                <h2>03</h2>
                <h3>Movil 3</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis porro officia enim, mollitia perferendis praesentium similique dignissimos omnis voluptate. Explicabo voluptas consectetur voluptatibus esse aliquam laudantium earum, beatae vero!</p>

                <a href="#">Read More</a>

            </div>
        </div>
        <div class="card" id="card4"  data-tilt data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1">
            <img id="img_movil" src="./assets/movil/movil4.png" alt="">
            <div class="content">
                <h2>04</h2>
                <h3>Movil 4</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis porro officia enim, mollitia perferendis praesentium similique dignissimos omnis voluptate. Explicabo voluptas consectetur voluptatibus esse aliquam laudantium earum, beatae vero!</p>

                <a href="#">Read More</a>

            </div>
        </div>
        <div class="card" id="card5"  data-tilt data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1">
            <img id="img_movil" src="./assets/movil/movil5.png" alt="">
            <div class="content">
                <h2>05</h2>
                <h3>Movil 5</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis porro officia enim, mollitia perferendis praesentium similique dignissimos omnis voluptate. Explicabo voluptas consectetur voluptatibus esse aliquam laudantium earum, beatae vero!</p>

                <a href="#">Read More</a>

            </div>
        </div>
        <div class="card" id="card6"  data-tilt data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1">
            <img id="img_movil" src="./assets/movil/movil6.png" alt="">
            <div class="content">
                <h2>06</h2>
                <h3>Movil 6</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi facilis porro officia enim, mollitia perferendis praesentium similique dignissimos omnis voluptate. Explicabo voluptas consectetur voluptatibus esse aliquam laudantium earum, beatae vero!</p>

                <a href="#">Read More</a>

            </div>
        </div>
        
    </div>
</div>
-->

<div class="contenedor_padre">
    <div class="container">

            <div *ngFor="let movilJson of movilesJson; let i = index;" class="card" id="card{{ i + 1 }}" data-tilt data-tilt-scale="1.2" data-tilt-glare data-tilt-max-glare="1" >

                <img id="img_movil" src="./assets/movil/{{ movilJson.imagen_preview }}" alt="">
                <div class="content">
                    <h2>01</h2>
                    <h3> {{ movilJson.nombre }} </h3>
                    <p>
                        Marca: {{ movilJson.marca }} 
                        Precio: {{ movilJson.precio }}                         
                    </p>
    
                    <a routerLink="{{ movilJson.enlace_detalles }}">Ver móvil</a>
    
                </div>
            </div>

    </div>
</div>

