
<img id="imagenCarrusel" src="./assets/movil/{{  this.imagenVisibleAhora }}" alt="">

<br>

<button (click)="anteriorImagen();">Anterior</button>
<button (click)="siguienteImagen();">Siguiente</button>

<div class="datosmovil">

    <p>
        color: {{ detallesMovilJson.color }}   

        procesador: {{ detallesMovilJson.procesador }} 
        memoria ram: {{ detallesMovilJson.memoria }}GB     
        memoria ram: {{ detallesMovilJson.almacenamiento }}GB
        precio: {{ detallesMovilJson.precio }}€     
          
    </p>

</div>

<button (click)="comprar();">Comprar</button>

<!--
<button (click)="comprar();">Comprar</button>
-->