@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");



* {
  font-family: "Orbitron", sans-serif;
}
/*HEADER*/
header{
    position: absolute;
    background: transparent;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    
}

header .logo{
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 40px;
    cursor: pointer;
    color: var(--yellow);
    font-family: "Cyberpunk";
    text-decoration: none;
    text-shadow: var(--text-shadow) 2px 4px 0px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

nav ul li a{
    color: var(--red);
    text-shadow: 0px 0px 3px var(--red-glow); 
    text-decoration: none;
    font-size: 18px;
    border-radius: 2px;
    text-transform: uppercase; 
}

li a:hover{
    background: var(--black-hover-background);
    transform: .7s;
}
.checkbtn{
    font-size: 30px;
    color: var(--blue);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*RESPONSIVE*/
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 15vh;
        background: transparent;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: var(--blue);
    }
    li a:hover{
        background: none;
    }
    #check:checked ~ ul{
        left:0;
    }
}
/*
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px 30px 50px;
    display: flex;
    object-fit: cover;
    justify-content: space-between;
    align-items: center;
    
}

header .logo{
    width: 15vmax;
    cursor: pointer;
    color: var(--yellow);
    font-family: "Cyberpunk";
    text-decoration: none;
    text-shadow: var(--text-shadow) 2px 4px 0px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    color: var(--red);
    text-shadow: 0px 0px 3px var(--red-glow); 
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active{
    background: var(--black-hover-background);
    
}

*/

/*MENU RESPONSIVE*/




/*
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 2000;
    
}



header .logo {
    position: relative;
    color: var(--yellow);
    font-family: "Cyberpunk";
    font-size: 3em;
    transition: 1.5s;
    text-decoration: none;
    text-shadow: var(--text-shadow) 2px 4px 0px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    
    position: relative;
    list-style: none;
    padding: 10px;
    margin: 15px 0px;
    width: 150px;
    text-align: center;
    
    
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    overflow: hidden;
    clip-path: polygon(150px 0px, 150px 20px, 125px 45px, -1px 45px, 0px 0px);
    transition: 0.7s;
}

header ul li a{
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
        
   
    color: var(--red);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 3px var(--red-glow); 
    text-decoration: none;
    

}


header ul li::after{
    content: "";
    position: absolute;
    bottom: -18px;
    right: -18px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    

    transform: rotate(45deg);
 
    border-width: 2px;
    border-style: solid;
    border-color: transparent;

    transition: color 1s ease-out;
    transition: border-color 1s ease-out;

}

header ul li:hover::after,
header ul li:hover{
    color: var(--blue);
    border-color: var(--blue);
    
    transition: color 0.23s linear;
    transition: border-color 0.23s linear;
    background: var(--black-hover-background);

}


header ul li a:hover{
    transition: color 0.23s linear;
    color: var(--blue);
}

*/





