<body>
    <div class="container">

        <h2>REGISTER ACCESS</h2>
    
        <form action="#">
          <div class="form__item">
            <label for="user">USER</label>
            <input type="text" id="user">
          </div>
    
          <div class="form__item">
            <label for="password">PASSWORD</label>
            <input type="password" id="password">
          </div>

          <div class="form__item">
            <label for="email">EMAIL</label>
            <input type="email" id="email">
          </div>
    
          <div class="form__item">
            <input id="btn" type="submit" value="REGISTER">
          </div>

          
          
    
        </form>
    
    </div>
</body>
