
  <!--
    <p *ngIf="1 == 1" id="mensajebienvenida">Bienvenido usuario</p> 
    queremos que salga el mensaje "hola mundo" en todas las páginas de la web, sea que se pulse
    en un apartado o en otro
    -->
    
 <div class="Inicio">
    <div class="container">
        <h1>About Us</h1>
        <div>
            <img src="./assets/inicio/portada33.png" class="rounded float-left img-fluid" alt="...">
        </div>
        <h3>Mobile Techonology</h3>
        <p>Bienvenidos a Phoneverse, queremos hacer llegar la tecnología móvil a todas las partes del mundo.</p>
        <p>Aquí podras encontrar móviles de todas las gamas y lo que necesites para estar conectado desde cualquier lugar.</p> 
        <p>Mira nuestro catálogo y disfruta de la experiencia.</p> 
           
        
        <a class="btn_cerrar_sesion" routerLink="../producto">Productos</a>

    </div>
</div>