
<body>
    <div class="container">

        <h2>AUTHORIZED ACCESS</h2>
    
        <form action="#">
          <div class="form__item">
            <label for="user">USER</label>
            <input type="text" id="user">
          </div>
    
          <div class="form__item">
            <label for="password">PASSWORD</label>
            <input type="password" id="password">
          </div>
    
          <div class="form__item">
            <input id="btn" type="submit" value="LOGIN">
          </div>

          <div class="form__item">
            <li id="btn_register"><a routerLink="/registro" >REGISTER</a></li>
          </div>
          
    
        </form>
    
    </div>


</body>
    