
<div class="contenedor_padre">
    <div class="container">

        <table>
            
            <tr>

                  <th>Código Factura</th>
                  <th>Precio total</th>
                  <th>Fecha</th>
                  <th>Ver Detalles</th>

            </tr>
                
            <tr *ngFor="let unpedido of pedidos; let i = index;">

                <td> {{ unpedido.id }} </td>
                <td> {{ unpedido.precio_total }} </td>
                <td> {{ unpedido.fecha }} </td>

                <td> <a class="ver_pedido" routerLink="/pedidos-desglosados/{{ unpedido.id }}">Ver pedido desglosado</a> </td>

            </tr>

        </table>

    </div>
</div>