
<div class="contenedor_padre">
    <div class="container">

        <table>

            <tr>
                  <th>Nombre Móvil</th>
                  <th>Precio Móvil</th>
            </tr>

            <tr *ngFor="let unproducto of pedidos_desglosados; let i = index;">

                  <td> {{ unproducto.nombre }} </td>
                  <td> {{ unproducto.precio }}€ </td>

            </tr>

        </table>

<!--
            <div *ngFor="let unproducto of pedidos_desglosados; let i = index;">
                
                <div class="content">
                    
                    <h2> Id: {{ unproducto.id }} </h2>
                    <p>                       
                        Id Móvil: {{ unproducto.id_movil }}                         
                    </p>

                    <p>                       
                        Nombre Móvil: {{ unproducto.nombre }}                         
                    </p>

                    <p>                       
                        Precio Móvil: {{ unproducto.precio }}                         
                    </p>
    
    
                    <a routerLink="{{ unproducto.id }}">Ver pedido desglosado</a>
    
                </div>
-->

    </div>

</div>
